@model GetInTouch
<div class="col-md-3 col-sm-6 col-xs-12">
    <div class="single-widget">
        <h3>@Model.Title</h3>
        <p>@Model.Adress</p>
        <p>@Model.FirstPhoneNumber<br>@Model.SecondPhoneNumber</p>
        <p>@Model.Email<br>@Model.Website</p>
    </div>
</div>