@model EventUpdateViewModel


<div class="row col-lg-10">
    <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Update Event</h4>
                <table class="table table-striped">
                    <thead>
                        <tr>

                            <th>Image</th>


                        </tr>
                    </thead>
                    <tbody>
                        <tr>

                            <td>
                                <img style="border-radius:0px; object-fit:contain; height:100px; width:100px;" class="productImage " src="~/assets/img/event/@Model.ImageUrl" />
                            </td>


                        </tr>


                    </tbody>
                </table>
                <form class="forms-sample" method="post" asp-action="update" enctype="multipart/form-data" en>
                    <div asp-validation-summary="All"></div>
                    <div class="form-group">
                        <label asp-for="Image">Image</label>
                        <input asp-for="Image" class="form-control" placeholder="Image">
                        <span asp-validation-for="Image" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Title">Title</label>
                        <input asp-for="Title" class="form-control" placeholder="Title">
                        <span asp-validation-for="Title" class="text-danger"></span>

                    </div>
                    <div class="form-group">
                        <label asp-for="Content">Content</label>
                        <input asp-for="Content" class="form-control" placeholder="Content">
                        <span asp-validation-for="Content" class="text-danger"></span>

                    </div>
                    <div class="form-group">
                        <label asp-for="Adress">Adress</label>
                        <input asp-for="Adress" class="form-control" placeholder="Adress">
                        <span asp-validation-for="Adress" class="text-danger"></span>

                    </div>
                    <div class="form-group">
                        <label asp-for="SpeakerIds">Speakers</label>
                        <select asp-for="SpeakerIds" asp-items="Model.Speakers" class="form-control" placeholder="Speakers"></select>
                        <span asp-validation-for="SpeakerIds" class="text-danger"></span>

                    </div>
                    <div class="form-group">
                        <label asp-for="StartTime" class="form-label">Start Time *</label>
                        <input asp-for="StartTime" asp-format="{0:yyyy-MM-ddTHH:mm}"
                               value="@DateTime.UtcNow.AddHours(4).AddDays(1).ToString("yyyy-MM-dd 00:00")"
                               min="@DateTime.UtcNow.AddHours(4).AddDays(1).ToString("yyyy-MM-dd 00:00")"
                               max="@DateTime.UtcNow.AddHours(4).AddDays(30).ToString("yyyy-MM-dd 23:59")"
                               class="form-control" required>
                        <span asp-validation-for="StartTime" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="EndTime" class="form-label">End Time *</label>
                        <input asp-for="EndTime" asp-format="{0:yyyy-MM-ddTHH:mm}"
                               value="@DateTime.UtcNow.AddHours(4).AddDays(1).ToString("yyyy-MM-dd 23:59")"
                               min="@DateTime.UtcNow.AddHours(4).AddDays(1).ToString("yyyy-MM-dd 00:00")"
                               max="@DateTime.UtcNow.AddHours(4).AddDays(30).ToString("yyyy-MM-dd 23:59")"
                               class="form-control" required>
                        <span asp-validation-for="EndTime" class="text-danger"></span>
                    </div>



                    <button type="submit" class="btn btn-primary mr-2">Submit</button>
                    <button class="btn btn-light" asp-action="index">Cancel</button>
                </form>
            </div>
        </div>
    </div>
</div>