@{
    List<Event> events = Model;
}


  @foreach (var eventt in events)
  {
<div class="col-md-4 col-sm-6 col-xs-12">
    <div class="single-event mb-60">
        <div class="event-img">
                <a  asp-controller="event" asp-action="details" asp-route-id="@eventt.Id">
                <img src="~/assets/img/event/@eventt.ImageUrl" style="width370px;height:250px;" alt="event">
                <div class="course-hover">
                    <i class="fa fa-link"></i>
                </div>
            </a>
            <div class="event-date" >
                    <h3>@eventt.StartTime.ToString("MMM dd")</h3>
            </div>
        </div>
        <div class="event-content text-left">
                <h4><a asp-controller="event" asp-action="details" asp-route-id="@eventt.Id">@eventt.Title</a></h4>
            <ul>
                    <li><span>time:</span> @eventt.StartTime.ToString("h:mm tt") - @eventt.EndTime.ToString("h:mm tt")</li>
                <li><span>venue</span> @eventt.Adress</li>
            </ul>
            <div class="event-content-right">
                <a class="default-btn" asp-controller="event" asp-action="details" asp-route-id="@eventt.Id">join now</a>
            </div>
        </div>
    </div>
</div>
        }
